.container{
    margin: 0px 200px;
    background-color: #fff;
}

.container-sm{
    margin: 0px 100px;
}

.container-md{
    margin-left: 100px;
    margin-right: 100px;
    width: 90%;
}

.header{
    display: flex;
    margin-top: 20px;
}

.books_count{
    display: flex;
}

.sort{
    margin-left: auto;
}

.books_list{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    margin-left: -73px;
    margin-right: -86px;
}

.book{
    border: 1px solid silver;
    width: 240px;
    height: 290px;
    margin-right: 9.8px;
    margin-bottom: 20px;
}

.book_image{
    width: 240px;
    height: 177px;
    background-color: #f5f5f5;
}
.online{
    width: 105px;
    height: 135px;
    margin-top: 30px;
    margin-left: -40px;
    opacity: 1;
    cursor: pointer;
}
.book_data{
    margin: 15px 15px;
}
.name{
    width: 130px;
    height: 19px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.author{
    font: normal normal normal 10px/13px Roboto;
    color: #878787;
}
.book_image img{
    margin: 30px 70px;
}

.rating{
    width: 43px;
    height: 18px;
    background-color: green;
    color: #fff;
    margin-top: 2px;
    display: flex;
}

.star{
    margin-top: -1px;
    margin-left: 3px;
    height: 18px;
}

.cost{
    display: flex;
}
.dis-price{
    font: normal normal bold 12px/16px Roboto; 
    color: #0A0102;
}
.price{
    margin-left: 5px; font-size: 10px; 
    font: normal normal normal 10px/13px Roboto;
    margin-top: 2px; 
    color: #878787;
}
.pagination{
    margin-left: 200px;
    margin-bottom: 1rem;
}
// .dropdown {
//     position: relative;
//     display: inline-block;
//   }
  
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     padding: 12px 16px;
//     z-index: 1;
//   }
  
//   .dropdown:hover .dropdown-content {
//     display: block;
//   }