<!-- <p>order works!</p> -->
<div>
    <div class="header">
        <img class="place-order" src="..\..\..\..\assets\images\placeOrder.png" alt="">
    </div>
    <div class="text">
        <p>hurray!!! your order is confirmed<br>the order id is #123456 save the order id for<br>further communication..
        </p>
    </div>
    <div>
        <table>
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>  
            </tr>
            <td style="text-align:center">admin@bookstore.com</td>
            <td style="text-align:center">+91 8163475881</td>
            <td style="text-align:center">42, 14th Main, 15th Cross, Sector4, opp to BDA<br>
                complex, near kumarakom restaurant, HSR Layout,<br>Bangalore 560034</td>
        </table>
    </div>
    <div>
        <button class="btn-continue" routerLink="/dashboard/allbooks">CONTINUE SHOPPING</button>
    </div>
</div>
